.full-width-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  max-height: 700px;
  overflow: auto;
  margin-bottom: 24px;
}

.table-container.short {
  max-height: 300px;
}

.checkbox-margin {
  margin: 0 10px;
}