.row {
  display: flex;
}

.row mat-form-field {
  margin-right: 1em;
}

.form-area,
.stat-area {
  background: #fff;
  padding: 1em;
  flex: 1;
}

.form-area {
  margin-right: 1em;
}

.wrapper {
  display: flex;
}

mat-divider {
    margin: 1em 0;
}