<div class="wrapper">
  <div class="form-area mat-elevation-z2">
    <form [formGroup]="formGroup">
      <div class="row">
        <mat-form-field>
          <mat-select formControlName="set" placeholder="Set">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let set of sets" [value]="set">{{
              set
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select required formControlName="slot" placeholder="Slot">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let slot of slots" [value]="slot">{{
              slot
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select required formControlName="star" placeholder="Star★">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let star of stars" [value]="star"
              >{{ star }}★</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select required formControlName="upgrade" placeholder="Upgrade">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let upgrade of upgrades" [value]="upgrade"
              >+{{ upgrade }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select required formControlName="priEff" placeholder="Main stat">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let effect of effects" [value]="effect">{{
              effectNames[effect]
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="priEffAmount"
            matInput
            placeholder="Main stat value"
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select formControlName="prefixEff" placeholder="Innate stat">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let effect of effects" [value]="effect">{{
              effectNames[effect]
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="prefixEffAmount"
            matInput
            placeholder="Innate stat value"
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select formControlName="secEff1" placeholder="Stat1">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let effect of effects" [value]="effect">{{
              effectNames[effect]
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="secEff1Amount"
            matInput
            placeholder="Stat1 Value"
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select formControlName="secEff2" placeholder="Stat2">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let effect of effects" [value]="effect">{{
              effectNames[effect]
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="secEff2Amount"
            matInput
            placeholder="Stat2 Value"
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select formControlName="secEff3" placeholder="Stat3">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let effect of effects" [value]="effect">{{
              effectNames[effect]
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="secEff3Amount"
            matInput
            placeholder="Stat3 Value"
            type="number"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-select formControlName="secEff4" placeholder="Stat4">
            <mat-option>-</mat-option>
            <mat-option *ngFor="let effect of effects" [value]="effect">{{
              effectNames[effect]
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="secEff4Amount"
            matInput
            placeholder="Stat4 Value"
            type="number"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="stat-area mat-elevation-z2">
    <div *ngIf="(runeView$ | async) as runeView">
      <h1 class="mat-h1">Happy thoughts</h1>
      {{ runeView.priEff }}<br />
      {{ runeView.secEff }}
      <mat-divider></mat-divider>
      <h1 class="mat-h1">Recommended / Max. Efficiency</h1>
      {{ runeView.bestMonster }} /
      {{ runeView.maxEfficiency | percent: '.1-1' }}
    </div>
  </div>
</div>
