.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main {
  max-width: 1280px;
  margin: 12px auto 0;
}

.full-width-table {
  width: 100%;
}

.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  max-height: 800px;
  overflow: auto;
}